<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            <form #loginform="ngForm" (ngSubmit)="handleSubimt(loginform)">
            <div class="form-outline mb-4">
              <input type="email" email id="typeEmailX-2" class="form-control form-control-lg" placeholder="Enter email"
              [(ngModel)]="model.email" name="email" #email="ngModel" required
              />
            </div>
            <div class="alert alert-danger" *ngIf="loginform.submitted && email.invalid">
               <div *ngIf="email.errors?.['required']">Email is required</div>
               <div *ngIf="email.errors?.['email']">Invalid email</div>

            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Enter password"
              [(ngModel)]="model.password" name="password" #password="ngModel" required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"

              />

              <div class="alert alert-danger" *ngIf="password.invalid &&(password.dirty||loginform.submitted)">
                    <div *ngIf="password.errors?.['required']">password is required</div>
                    <div *ngIf="password.errors?.['pattern']">must contain 8 or more characters that are of at least one number,
                      and one uppercase and lowercase letter
              </div>
              </div>

            </div>

            <!-- Checkbox -->
            <!-- <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Remember password </label>
            </div> -->

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
