/*about start*/
.about{
  overflow:hidden;
}
.about .content{

  margin: 25px 0 45px 0;
  padding: 30px 30px;


}
.about .content img{
  height: 500px;
  width: 40%;
  border-radius: 15px 50% 15px 50%;
  padding-right: 50px;


}
.about .content .text{

  padding-left: 50px;
}
.about .content .text h2{
  font-size: 38px;
  color:#071e33;
  text-align: center;

}
.about .content .text p{
  text-align: center;

  font-weight: 600;
}
.about .content .text span{
  color: #02b3e0;
}
