<app-index class="gold-color"></app-index>
<!-- <div class="container">
  <h2>
    {{firstName}}
  </h2>
  <h3>{{lastName}}</h3>
  <h1>getFullName()</h1>
  <h3>{{4+5}}</h3>
  <form>
    <input [type]="inputType" name="" [id]="inputId" [placeholder]="placeholder">
  </form>
  <p>{{ patagraphText}}</p>
  <p [innerText]="patagraphText"></p>
  <button class="btn btn-primary" [disabled]="disabled">Send</button>
  <h3 [class]="classText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae odit assumenda, debitis adipisci accusamus aliquid quod sint! Tempora dolorem quibusdam quisquam amet, sunt praesentium voluptas impedit officia necessitatibus nemo expedita.</h3>
</div> -->

<router-outlet></router-outlet>
