{{>navbar}}
    <section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input name="name" placeholder="Name" class="form-control">
        </div>
        <div class="mb-3">
            <input name="barcode" placeholder="Barcode" class="form-control">
        </div>
        <div class="mb-3">
            <input name="description" placeholder="Description" class="form-control">
        </div>
         <div class="mb-3">
            <input name="pricebefore" placeholder="Price before" class="form-control">
        </div>
        <div class="mb-3">
            <input name="priceafter" placeholder="Price after" class="form-control">
        </div>

       <div class="mb-3">
            {{isActive}}
            {{!-- {{#unless isActive}} yes{{/unless}} --}}
            <select name="status"  class="form-control">
                <option
                    value="active"
                    >active</option>
                <option   value="deactive">aeactive</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="submit" value="Add Product" class="btn btn-primary">
        </div>

    </form>
    </section>
{{>footer}}
