<app-sidebar></app-sidebar>
<section class=" gradient-custom ">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Admin Registration</h3>
            <form #registerform="ngForm" (ngSubmit)="handleSubimt(registerform)">

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" placeholder="First Name"
                    [(ngModel)]="model.fName" name="fName" #fName="ngModel" required
                    />
                  </div>
                  <div *ngIf="registerform.submitted">
                    <div class="alert alert-danger"  *ngIf="fName.errors?.['required']">First name is required</div>
                 </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" placeholder="Last Name"
                    [(ngModel)]="model.lName" name="lName" #lName="ngModel" required
                    />
                  </div>
                  <div  *ngIf="registerform.submitted">
                    <div class="alert alert-danger" *ngIf="lName.errors?.['required']">Last name is required</div>
                 </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="Date" class="form-control form-control-lg" id="birthdayDate"
                    [(ngModel)]="model.dOfBirth" name="dOfBirth"  #dOfBirth="ngModel" max="2020-01-01"
                    min="1950-1-1"
                    />
                  </div>


                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  id="femaleGender"
                      value="female" checked
                      [(ngModel)]="model.gender" name="female"  #female="ngModel"
                      />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  id="maleGender"
                    value="male" checked
                      [(ngModel)]="model.gender" name="male"  #male="ngModel" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" placeholder="Email"
                    [(ngModel)]="model.email" name="email" #email="ngModel" required email
                    />
                  </div>
                  <div class="alert alert-danger" *ngIf="registerform.submitted && email.invalid">
                    <div *ngIf="email.errors?.['required']">Email is required</div>
                    <div *ngIf="email.errors?.['email']">Invalid email</div>
                 </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="password"  class="form-control form-control-lg" placeholder="password"
                    [(ngModel)]="model.password" name="password" #password="ngModel" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    />
                  </div>
                  <div class="alert alert-danger" *ngIf="password.invalid &&(password.dirty||registerform.submitted)">
                    <div *ngIf="password.errors?.['required']">password is required</div>
                    <div *ngIf="password.errors?.['pattern']">must contain 8 or more characters that are of at least one number,
                      and one uppercase and lowercase letter
              </div>
              </div>



                </div>
              </div>


              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                   <h6>Country Code</h6>
                  <div class="form-outline">
                    <select class="form-control form-control-lg"  [(ngModel)]="model.countryCode" name="countryCode" #countrycode="ngModel" required >

                      <option *ngFor="let c of countryCode">{{c}}</option>
                    </select>
                  </div>
                  <div  *ngIf="registerform.submitted">
                    <div class="alert alert-danger" *ngIf="countrycode.errors?.['required']">country Code is required</div>

                 </div>
                </div>
                  <div class="col-md-6 mb-4 pb-2 mt-4">
                  <div class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" placeholder="Phone Number"
                    [(ngModel)]="model.phone" name="phone" #phone="ngModel" required
                    />

                  </div>
                  <div  *ngIf="registerform.submitted">
                    <div  class="alert alert-danger" *ngIf="phone.errors?.['required']">phone is required</div>

                 </div>

                </div>


              </div>



              <div class="row">
                <div class="col-md-6 mb-4 pb-2 col-6">
                  <h6>Address Type</h6>
                  <div class="form-outline  ">
                    <select class="form-control form-control-lg" [(ngModel)]="model.addresses.addrType" name="addrType" #addrType="ngModel"  >

                      <option *ngFor="let a of   addressType">{{a}}</option>
                    </select>
                  </div>
                </div>



                <div class="col-md-6 mb-4 pb-2  col-6">
                  <div class="form-outline">
                   <textarea class="form-control form-control-lg" placeholder="Address details"  [(ngModel)]="model.addresses.addrDetails" name="addrDetails" #addrDetails="ngModel"></textarea>
                  </div>
                </div>

              </div>



              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
