<app-sidebar></app-sidebar>
<section class=" gradient-custom ">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Edit Product</h3>
            <form [formGroup]="product" (ngSubmit)="handleUpdateProduct()">

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id=" productName" class="form-control form-control-lg" placeholder="Product Name"
                    formControlName="productName"
                    />
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text"  class="form-control form-control-lg" placeholder=" Description"
                   formControlName="description"
                    />
                  </div>


                </div>
              </div>

              <div class="row">

                <div class="col-md-6 mb-4 align-items-center">
                  <h6>Date of Arrival</h6>
                  <div class="form-outline datepicker w-100">
                    <input type="Date" class="form-control form-control-lg"
                     formControlName="dOfArrive"  max="new Date"
                    min="01/01/2015"
                    />
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2 ">
                  <h6>Category</h6>
                 <div class="form-outline">
                   <select class="form-control form-control-lg" formControlName="category" >

                     <option *ngFor="let c of Category">{{c}}</option>
                   </select>
                 </div>

               </div>





              </div>



              <div class="row">

                  <div class="col-md-6 mb-4 pb-2 ">
                    <h6>Price</h6>
                  <div class="form-outline">
                    <input type="number" id="phoneNumber" class="form-control form-control-lg" placeholder="Price"
                    formControlName="price"
                    />

                  </div>


                </div>



              </div>




              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Edit Product" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


